<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <meta property="og:title" content="Fate/Starry Night Character Compendium" />

  <meta property="og:description" content="TFate Grand Order fan servant generator with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!.">
  <meta name="description" content="Fate Grand Order fan servant generator with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!">
  
  <meta name="google-site-verification" content="oBjSHH7uh3kTsqNz1qTra8nMygRSy_yYAWGecxlIPPI" />

  <title>FGO Fan Servant Generator</title>
  

  <script src="https://kit.fontawesome.com/fbb57351e0.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/servant-profile.css">
  <link rel="stylesheet" href="css/origin-list.css">
  <link rel="stylesheet" href="css/edit-page.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

  <div class='flex-container'>

    <div id="edit-page" class=""> 
      <%- include('index/edit-page') %></div>

    <div id="origin-list" class="active">
      <%- include('index/origin-list') %></div>

    <%- include('index/servant-profile') %>

  </div>


  <div id="instructions_toggle">How to Use</div>
  <div id="instructions">
    <div class="instructions-title">Claiming a Servant</div> 

    <div class="instructions-content">
      Find the fateRP server bot and use the following command: 
      <div class="instructions-code">'f.claim SERVANT_ID PASSWORD'</div>
      Make sure to do it in DMs so you don't expose your password to everyone on the server.
    </div>

    <div class="instructions-title">Check Your Claimed Servants</div>
    <div class="instructions-content">Find the fateRP server bot and use the following command: 
      <div class="instructions-code">'f.myservants'</div>
    </div>

  </div>

  <!-------------- DISQUS ----------------->
  <div id="disqus_thread_toggle">Help Thread</div>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://fatechan.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <!-------------- JS ----------------->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

  <script src='js/index.js'></script>
  <script src='js/profile-page.js'></script>
  <script src='js/edit-page.js'></script>
  <script src='js/origin-list.js'></script>

  <script id="dsq-count-scr" src="//fatechan.disqus.com/count.js" async></script>

</body>
</html>