<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="google-site-verification" content="oBjSHH7uh3kTsqNz1qTra8nMygRSy_yYAWGecxlIPPI" />
  <meta name="description" content="Fate Grand Order fan servant template.">
  <meta name="author" content="https://github.com/nattyright">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://profile.fatechan.top/"/>
  <meta property="og:title" content="FGO Fan Servant Creator" />
  <meta property="og:description" content="Fate Grand Order fan servant template with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!">
  
  <script src="https://kit.fontawesome.com/fbb57351e0.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="css/servant-profile.css">
  <link rel="stylesheet" href="css/origin-list.css">
  <link rel="stylesheet" href="css/edit-page.css">
  <link rel="stylesheet" href="css/index.css">

  <title>FGO Fan Servant Creator</title>
  

  <style type="text/css">
    body:before {
      background-image: url(<%= bg_images[Math.floor(Math.random()*bg_images.length)] %>);
    }
  </style>

</head>
<body>

  <div class='flex-container'>

    <div id="edit-page" class=""> 
      <%- include('index/edit-page') %></div>

    <div id="origin-list" class="active">
      <%- include('index/origin-list') %></div>

    <%- include('index/servant-profile') %>

  </div>


  <div id="instructions_toggle">FAQ</div>
  <div id="instructions">
    <div class="instructions-title">UNSUMMONED SERVANTS</div> 
    <div class="instructions-content">
      Servant profiles that haven't been filled out with even the bare minimum effort will be displayed as 'unsummoned'.</span>
    </div>

    <div class="instructions-title">'halp everything looks wonky'</div> 
    <div class="instructions-content">
      For best results, please use Chrome™. Mobile not tested. Browsers other than Chrome ditched because I don't want to bother <img style="width: 50px;" src="https://cdn.discordapp.com/emojis/915598369743835166.webp?size=96&quality=lossless">
    </div>

    <div class="instructions-title">Claim a Servant</div> 
    <div class="instructions-content">
      Find the server bot and use the following command: 
      <div class="instructions-code">'f.claim SERVANT_ID PASSWORD'</div>
      Make sure to do it in DMs so you don't expose your password to everyone on the server.
    </div>

    <div class="instructions-title">Check Your Claimed Servants</div>
    <div class="instructions-content">Find the server bot and use the following command: 
      <div class="instructions-code">'f.myservants'</div>
    </div>

    <div class="instructions-title">Edit Servant Lv</div>
    <div class="instructions-content">Because of reasons™, a Servant's level is displayed as the default maximum value. If you want them to display different values, you'll need to do a <i>temporary</i> edit via <u>Inspect Elements</u>.
    </div>

    <div class="instructions-title">Not from the server?</div>
    <div class="instructions-content">Have fun and don't sue me I am shooketh <img style="width: 50px;" src="https://cdn.discordapp.com/emojis/764196741892538419.webp?size=96&quality=lossless">
    </div>

  </div>

  <!-------------- DISQUS ----------------->
  <div id="disqus_thread_toggle">Help Thread</div>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://fatechan.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <!-------------- JS ----------------->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fitty.min.js'></script> <!--fit text horizontally (for np name) -->

  <script src='js/index.js'></script> 
  <script src='js/profile-page.js'></script>
  <script src='js/edit-page.js'></script>
  <script src='js/origin-list.js'></script> 
 
  <script id="dsq-count-scr" src="//fatechan.disqus.com/count.js" async></script>

</body>
</html>