#edit-page {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 39999;
  position: absolute;
  margin-top: -10px;
  background-color: rgba(15, 25, 40, 0.9);
  overflow-y: auto;

  color: lightgray;
  font-size: 18px;
  font-family: Calibri;

  display: none;
}
#edit-page.active {
  display: block;
    
}
#edit-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 20px auto;
  width: 94%;
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.edit-title {
  margin-top: 25px !important;
  margin-bottom: -15px !important;
  margin-right: 10px;
  margin-left: 10px;

  font-size: 23px;
  font-family: Optima;
  text-decoration: underline;
}
.one-row-item {
  width: 100%;
}
.two-row-item {
  width: 50%;
}
.three-row-item {
    width: 33%;
}
#edit-page div {
  margin-top: 10px;
  text-align: center;
}
#edit-page input {
  width: 90%;
  max-width: 500px;
}
#edit-page select {
  width: 90%;
  text-align: center;
}
#edit-page textarea {
  min-width: 19em;
  max-width: 19em;
}
.two-row-item textarea {
  min-width: 25em !important;
  max-width: 25em !important;
}
#edit-voice textarea,
#edit-profile-charinfo {
  min-height: 4em !important;
  max-height: 4em !important;
  min-width: 47em !important;
  max-width: 47em !important;
}
#edit-gallery input {
  width: 600px;
}
.edit-cd {
  width: 40px;
}
.edit-lv,
.edit-rank {
  width: 80px;
}
#edit-voice-add,
#edit-gallery-add {
  background-color: seagreen;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
#edit-page input,
#edit-page textarea,
#edit-page select {
  background-color: rgba(20, 30, 40, 0.8);
  border: 1px solid dimgray;
  color: #e6e6e6;
  font-size: 16px;
  font-family: Calibri !important;
}
#edit-password {
  width: 200px !important;
}
#edit-page-cancel,
#submit {
  width: 200px !important;
  margin: 20px 100px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
#edit-page-cancel {
  color: coral !important;
}
#submit {
  color: #789cff !important;
}
