.flex-break {
    flex-basis: 100%;
    height: 0;
}
.edit-title {
  margin-top: 25px !important;
  margin-bottom: -15px !important;
  margin-right: 10px;
  margin-left: 10px;

  font-size: 23px;
  font-family: Optima;
  text-decoration: underline;
}
.one-row-item {
  width: 100%;
}
.two-row-item {
  width: 50%;
}
.three-row-item {
    width: 33%;
}
#edit-page div {
  margin-top: 10px;
  text-align: center;
}
#edit-page input {
  width: 90%;
  max-width: 500px;
}
#edit-page select {
  width: 90%;
  text-align: center;
}
#edit-page textarea {
  min-width: 19em;
  max-width: 19em;
}
.two-row-item textarea {
  min-width: 25em !important;
  max-width: 25em !important;
}
#edit-voice textarea,
#edit-profile-charinfo {
  min-height: 5em !important;
  max-height: 10em !important;
  min-width: 35em !important;
  max-width: 35em !important;
}
#edit-gallery input {
  width: 600px;
}
.edit-cd {
  width: 40px;
}
.edit-lv,
.edit-rank {
  width: 80px;
}
#edit-voice-add,
#edit-gallery-add {
  background-color: seagreen;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
#edit-page input,
#edit-page textarea,
#edit-page select {
  background-color: rgba(20, 30, 40, 0.8);
  border: 1px solid dimgray;
  color: #e6e6e6;
  font-size: 16px;
  font-family: Calibri !important;
}
#edit-password {
  width: 200px !important;
}
#edit-page-unlock,
#edit-page-cancel,
#submit,
#delete {
  width: 200px !important;
  margin: 20px 20px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
#edit-page-unlock {
  color: palegreen !important;
}
#edit-page-cancel {
  color: coral !important;
}
#submit {
  color: #789cff !important;
}
#delete {
  color: red !important;
}





#edit-page {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 39999;
  position: absolute;
  margin-top: -10px;
  background-color: rgba(15, 25, 40, 0.9);
  overflow-y: auto;

  color: lightgray;
  font-size: 18px;
  font-family: Calibri;

  display: none;
}
#edit-page.active {
  display: block;
}
#edit-nav-bottom-border {
  position: absolute;
  top: 30px;
  left: 25px;
  z-index: 21;

  height: 1px;
  width: 850px;
  border-top: 1px solid dimgray;
}
.edit-nav {
  height: 30px;
  width: 105px;
  position: absolute;
  top: 0;
  z-index: 20;
  cursor: pointer;

  border: 1px solid dimgray;
  border-bottom: none;
  border-radius: 2px;

  line-height: 30px;
}
.edit-nav.active {
  background-color: skyblue;
  border-color: white;
  color: black;
}
.edit-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 40px auto 20px auto !important;
  width: 94%;
}

:root {
  --edit-nav-button-width: 55px;
  --edit-nav-button-left-margin: 30px;
}

.edit-nav:nth-child(2) {
  left: calc(var(--edit-nav-button-width) * 1 - var(--edit-nav-button-left-margin));
}
.edit-nav:nth-child(4) {
  left: calc(var(--edit-nav-button-width) * 3 - var(--edit-nav-button-left-margin));
}
.edit-nav:nth-child(6) {
  left: calc(var(--edit-nav-button-width) * 5 - var(--edit-nav-button-left-margin));
}
.edit-nav:nth-child(8) {
  left: calc(var(--edit-nav-button-width) * 7 - var(--edit-nav-button-left-margin));
}
.edit-nav:nth-child(10) {
  left: calc(var(--edit-nav-button-width) * 9 - var(--edit-nav-button-left-margin));
}
.edit-nav:nth-child(12) {
  left: calc(var(--edit-nav-button-width) * 11 - var(--edit-nav-button-left-margin));
}