@font-face {
    font-family: 'Optima'; /*a name to be used later*/
    src: url('../assets/Optima.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Matisse'; /*a name to be used later*/
    src: url('../assets/MatissePro.otf'); /*URL to font*/
}

::-webkit-scrollbar {
    -webkit-appearance:  none;
    width: 22px;
}
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 22px rgba(0, 0, 0, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

::-webkit-scrollbar-thumb:vertical {
    background: url('../assets/ui-scrollbar-thumb-top.png') left top no-repeat,
                url('../assets/ui-scrollbar-thumb-mid.png') left center no-repeat,
                url('../assets/ui-scrollbar-thumb-bot.png') left bottom no-repeat;
    background-size: 22px 10px, 22px calc(100% - 20px), 22px 10px;
}

body {
      overflow: hidden;
      background-color: dimgray;
      font-family: Optima;
      letter-spacing: -1px;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}




.flex-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 15px 10px;


  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  background-image: linear-gradient(#96abe3, #1a329c);
  background-image: url("../assets/profile-banner.png"),
                    url("../assets/profile-bg.png");
  background-position: top, top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 68px, cover;
  width: 900px;
}





.flex-container > div {
  padding: 0px;
  font-size: 30px;
  margin: 4px 0px 4px 0px;

  opacity: 1;
}
#col-right, #col-left {
    margin: 2px 0px 4px 0px;
}



#col-left {
    z-index: 19999;
}
#col-left > div {
    display: flex;
    flex-flow: col nowrap;
    justify-content: center;
    align-items: stretch;

    margin: -10px 0px 32px -10px;
    width: 58px;
    height: 58px;

    background-image: url("../assets/button-side-base-blue.png");
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
    font-size: 15px;
    font-family: Arial Narrow;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    cursor: pointer;
}
#col-left > div span {
    margin: 35px 0px 0px -16px;
    width: 50px;
    letter-spacing: 0;
}
#col-left > div:first-child {
    background-image: url("../assets/button-side-close-short.png");
    margin-bottom: 76px;
    margin-left: -10px;
    width: 65px;
    height: 65px;
}
#col-left > div:first-child span {
    --text-shadow: rgba(40, 57, 106, 0.7);
    margin-top: 23px;
    margin-left: 8px;
    color: var(--text-shadow);
    font-size: 16px;
    letter-spacing: -0.5px;
    text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow), 1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
}
#col-left i {
  position: absolute;
  margin: 13px 0 0 -15px;
  font-size: 20px;
}
#col-left > div:nth-child(4) span {
    font-size: 13px;
    line-height: 8px;
    margin-left: -18px;
    -webkit-transform: scale(0.7,1);
    -moz-transform: scale(0.7,1);
    -ms-transform: scale(0.7,1);
    -o-transform: scale(0.7,1);
    transform: scale(0.7,1);
}
#col-left > div:nth-child(4) span.button-smoltext {
    font-size: 15px;
    line-height: 18px;
    margin-left: -17px;
    -webkit-transform: scale(0.84,1);
    -moz-transform: scale(0.84,1);
    -ms-transform: scale(0.84,1);
    -o-transform: scale(0.84,1);
    transform: scale(0.84,1);
}




#col-mid {
    padding: 0;
    position: relative;
}
#col-mid > img {
    display: flex;
    width: 300px;
    height: 512px;
    margin-left: -2px;

    object-fit: contain;
}
#pf-charagraph-base {
    position: absolute;
    z-index: 1;
    left: 0;

    object-fit: contain;
}
#pf-cardURL {
    position: absolute;
    z-index: 5;
}
#pf-charagraph-frame {
    position: absolute;
    z-index: 10;

    object-fit: contain;
}
#pf-charagraph-class {
    --charagraph-class-dim: 48px;
    position: absolute;
    z-index: 20;
    height: var(--charagraph-class-dim) !important;
    width: var(--charagraph-class-dim) !important;

    bottom: 12px;
    left: 127px;
}
#pf-info-servantClass,
#pf-info-servantName,
#pf-info-servantClass-underline,
#pf-status-atk,
#pf-status-hp,
#pf-charagraph-arrow {
    position: absolute;
    z-index: 500;
    color: white;
    font-family: Matisse;
    margin-left: 3px;
    
    text-shadow:
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}
#pf-info-servantClass {
    font-size: 26px;
    letter-spacing: 1px;
    left: 50%;
    bottom: 32px;
    transform: translate(-50%, -50%);
}
#pf-info-servantClass-underline {
    width: 200px;
    height: 2px;
    background-image: linear-gradient(to right, transparent, white, white, white, white, white, transparent);
    box-shadow: 0px 0px 2px 0px black;
    left: 50%;
    bottom: 69px;
    transform: translate(-50%, -50%);
    z-index: 499;
}
#pf-info-servantName {
    font-size: 13px;
    letter-spacing: 0;
    width: 100%;
    text-align: center;
    bottom: 49px;
}
#pf-status-atk,
#pf-status-hp {
    font-family: Optima;
    width: 222px;
    font-size: 30px;
    bottom: 2px;
    left: 33px;
    font-weight: 700;

    text-shadow: none;
    background-color: #CA4246;
    background-color: white;
    background-image: linear-gradient( white 50%, #dcc 48%, white 72%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pf-status-atk {
    text-align: left;
}
#pf-status-hp {
    text-align: right;
}
#pf-charagraph-arrow {
    width: 25px !important;
    left: -6px;
}




#profile-name {
    height: 55px;
    color: white;
    padding-right: 22px;
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#pf-servantName {
    font-size: 50px;
    line-height: 34px;
    letter-spacing: -2px;
}
#pf-servantClass {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
}


#profile-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

    height: 55px;
}
#profile-nav > div {
    background-image: url("../assets/button-profile-nav.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin: 9px 11px -1px 13px;
    padding-top: 2px;
    text-align: center;
    line-height: 44px;
    font-family: Tahoma;
    letter-spacing: 0px;
    font-size: 23px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    cursor: pointer;
}
#profile-nav > div:nth-child(3) {
    font-size: 20px;
    font-family: Arial Narrow;
    letter-spacing: -1px;
}
#profile-nav > div:nth-child(3) > div {
    -webkit-transform: scale(1,1.3);
    -moz-transform: scale(1,1.3);
    -ms-transform: scale(1,1.3);
    -o-transform: scale(1,1.3);
    transform: scale(1,1.3);
    margin-top: 1px;
}

#profile-content {
    height: 400px;
    overflow-y: auto;
    margin: 5px 0px 0px 10px;
    padding: 0 8px 0 4px;

    font-size: 21px;
}
#profile-content > div {
    display: none;
}
#profile-content > div.active {
    display: block;
}

.profile-content {
    position: relative;
}
.profile-content > img {
    display: flex;
    width: 100%;
    object-fit: contain;
}
.voice-text {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 497px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 100px;

    display: none;
}
.voice-text.active {
    display: block;
}




.panel-wrapper {
    position: relative;
    margin: 25px 0 30px 4px;
    max-width: 506px;
}
.panel-bg,
.panel-bg-wrapper {
    --notchSize:  8px;
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    opacity: 0.92;

    clip-path: 
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            100% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            0% calc(100% - var(--notchSize))
        );
}
.panel-bg-top-wrapper {
    filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    position: absolute;
}
.panel-bg-top {
    --notchSize:  8px;
    position: absolute;
    height: 100%;
    width: 100%;

    clip-path: 
        polygon(
            -1px var(--notchSize), 
            var(--notchSize) -1px, 
            calc(100% - var(--notchSize)) -1px, 
            100% var(--notchSize), 

            150px var(--notchSize), 
            140px calc(var(--notchSize) + 13px),
            -1px calc(var(--notchSize) + 13px),



            -1px calc(100% - var(--notchSize))
        );
    background: white;
    z-index: 3;
}
.panel-bg-top.short {
    clip-path: 
        polygon(
            -1px var(--notchSize), 
            var(--notchSize) -1px, 
            calc(100% - var(--notchSize)) -1px, 
            100% var(--notchSize), 

            90px var(--notchSize), 
            80px calc(var(--notchSize) + 13px),
            -1px calc(var(--notchSize) + 13px),



            -1px calc(100% - var(--notchSize))
        );
}
.panel-bg-top.long {
    clip-path: 
        polygon(
            -1px var(--notchSize), 
            var(--notchSize) -1px, 
            calc(100% - var(--notchSize)) -1px, 
            100% var(--notchSize), 

            370px var(--notchSize), 
            360px calc(var(--notchSize) + 13px),
            -1px calc(var(--notchSize) + 13px),



            -1px calc(100% - var(--notchSize))
        );
}

.panel-bg {
    padding: 0;
    background: #101010;
    z-index: -1;
}
.panel-bg-wrapper {
    padding: 1px;
    background: white;
    z-index: -2;
}
.panel-bg-wrapper.locked,
.panel-bg-top.locked {
    background: gray;
}
.panel-bg-top-wrapper.locked {
    filter: none;
}






.panel-text.status-panel {
    height: 235px;
    font-family: Calibri;
    letter-spacing: 0;
    padding-left: 146px;
    padding-top: 4px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#pf-status-portraitURL {
    position: absolute;
    left: 10px;
    top: 40px;
    width: 140px;
}
#pf-status-lv-title {
    color: gold;
    font-size: 24px;
    padding-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
#pf-status-lv-content {
    font-size: 40px;
}
.pf-status-lv-tail {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-left: 3px;
}
.pf-status-blue {
    color: #6bb3a3;
    font-size: 17px;

    position: absolute;
    left: 160px;
    top: 85px;
}
.pf-status-blue-content {
    position: absolute;
    right: 32px;
    top: 83px;
    font-size: 19px;
    letter-spacing: 1px;
}
#pf-status-hp-title {
    margin-left: 0px;
}
#pf-status-hp-content {
    margin-right: 220px;
}
#pf-status-atk-title {
    margin-left: 110px;
}
#pf-status-atk-content {
    margin-right: 103px;
}
#pf-status-cost-title {
    margin-left: 230px;
}
#pf-status-cost-content {

}
.pf-status-gold {
    color: gold;
    padding-right: 18px;
    font-size: 18px;

    position: absolute;
    left: 160px;
    top: 108px;
}
.pf-status-gold-content {
    position: absolute;
    right: 135px;
    top: 107px;
    font-size: 19px;
    letter-spacing: 1px;
}
#pf-status-fou1-title {

}
#pf-status-fou1-content {
    margin-right: 117px;
}
#pf-status-fou2-title {
    margin-left: 110px;
}
#pf-status-fou2-content {

}
#pf-status-linebreak {
    position: absolute;
    left: 184px;
    top: 137px;
    border-bottom: 1px dotted darkgray;
    width: 286px;
}
#pf-status-bondlv-title {
    position: absolute;
    left: 157px;
    top: 170px;
    font-size: 18px;
    color: gold;
    letter-spacing: -1px;
    font-family: Arial Narrow;
}
#pf-status-bondlv-content {
    position: absolute;
    left: 218px;
    top: 150px;
    font-size: 40px;
}
#pf-status-bondlv-tail {
    position: absolute;
    left: 241px;
    top: 170px;
    font-size: 19px;
    font-weight: 300;
}
#pf-status-bondnext-title {
    position: absolute;
    left: 302px;
    top: 240px;
    color: gold;
    font-size: 14px;
}
#pf-status-bondnext-content {
    position: absolute;
    right: 34px;
    top: 234px;
    font-size: 21px;
    letter-spacing: 2px;
}

#pf-status-ascension-count {
    position: absolute;
    left: 167px;
    top: 65px;
    height: 19px;
}





progress,
progress[role] {
    position: absolute;
    right: 25px;
    top: 145px;
    height: 40px;
    width: 200px;

    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */ 
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
}
#pf-status-bondlv-count2{
    top: 185px;
}
/* Polyfill */
progress[role]:after {
    background-image: none; /* removes default background from polyfill */
}
/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
    display: none;
}

/* ----- progress bar bg ------ */
progress,
progress[role][aria-valuenow],
progress::-webkit-progress-bar {
    background-size: contain;
}

progress#pf-status-bondlv-count1,                          /* Firefox  */ 
progress[role][aria-valuenow]#pf-status-bondlv-count1 {    /* Polyfill */
   background: url("../assets/status/bond_0.png") transparent !important; /* !important is needed by the polyfill */
}
progress#pf-status-bondlv-count2,                          /* Firefox  */ 
progress[role][aria-valuenow]#pf-status-bondlv-count2 {    /* Polyfill */
   background: url("../assets/status/bond_0.png") transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* ------progress bar value -----*/
progress,
progress::-moz-progress-bar,
progress::-webkit-progress-value,
progress[aria-valuenow]:before {
    background-size: contain;
}
/* IE10 */
progress {
    color: transparent;
}
/* Firefox */
progress::-moz-progress-bar { 
    background: url("../assets/status/bond_5.png") transparent;  
}
/* Chrome */
progress::-webkit-progress-value {
    background: url("../assets/status/bond_5.png") transparent;
}
/* Polyfill */
progress[aria-valuenow]:before  {
    background: url("../assets/status/bond_5.png") transparent;
}
progress#pf-status-bondlv-count2::-moz-progress-bar { 
    background: url("../assets/status/bond_10.png") transparent;  
}
/* Chrome */
progress#pf-status-bondlv-count2::-webkit-progress-value {
    background: url("../assets/status/bond_10.png") transparent;
}
/* Polyfill */
progress#pf-status-bondlv-count2[aria-valuenow]:before  {
    background: url("../assets/status/bond_10.png") transparent;
}







.status-title,
.np-title, 
.pskill-title,
.cskill-title,
.cc-title,
.profile-title,
.voice-title {
    font-family: Arial Narrow;
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: 600;
    color: #262626;
    margin: -21px 0 0 12px;
}
.panel-text {
    font-size: 16px;
    color: white;

    max-width: 484px;
    padding: 15px 2px 15px 10px;
}
.np-detail {
    margin-left: 160px;
}
.np-category {
    padding-right: 30px;
    color: gold;
}
.np-name {
    font-size: 23px;
    margin-bottom: 5px;
}
.np-table {
    font-size: 19px;
    letter-spacing: 0;
}
.np-text {
    margin-top: 8px;
    letter-spacing: -0.3px;
}
#pf-np-gaugetext {
    margin-left: 13px;
    font-size: 17px;
    letter-spacing: -2px;
}
.np-type {
    position: relative;
    padding: 0 5px;
    margin-left: -5px;
}
.pf-np-bot {
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 30px;

    width: 24%;
    object-fit: contain;
}
.pf-np-servant {
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 11px;

    width: 27%;
    object-fit: contain;
}
.pf-np-mid {
    position: absolute;
    z-index: 10;
    left: 22px;
    top: 95px;


    width: 27%;
    object-fit: contain;
}
.pf-np-top {
    position: absolute;
    left: 20px;
    top: 115px;
    z-index: 20;

    width: 25%;
    object-fit: contain;
}
.pf-np-gauge {
    margin-right: -13px;
}




.pskill-tip,
.cskill-tip,
.voice-tip {
    --border-blue: black;
    color: #46dee3;
    margin-top: -23px;
    font-size: 15px;
    padding-left: 120px;
    text-shadow:
        -1px -1px 0 var(--border-blue),  
        1px -1px 0 var(--border-blue),
        -1px 1px 0 var(--border-blue),
        1px 1px 0 var(--border-blue);
}
.voice-tip {
    margin-left: 50px;
    margin-top: -2px;
}
table {
    margin-top: -15px;
}
.pskill-l,
.cskill-l {
    padding: 10px 10px 0 0;
    min-width: 50px;
    display: inline-block;
    vertical-align: top;
}
.pskill-num {
    color: #7ca6cf;
    font-size: 15px;
}
.cskill-num {
    color: #6bb3a3;
    font-size: 15px;
}
.pskill-cd {
    color: #6bb1b3;
    font-size: 12px;
    margin-top: -10px;
}
.pskill-cd-num {
    text-align: right;
    font-size: 14px;
    margin-top: -10px;
}
.pskill-m,
.cskill-m {
    margin-left: -20px;
    width: 85px;
    vertical-align: top;
    padding-top: 25px;
}
.pskill-m img,
.cskill-m img {
    width: 72px;
    object-fit: contain;
    border: 2px solid rgba(109, 109, 109, 0.3);
    border-radius: 7px;
}
.pf-skill-icon-cover {
    position: absolute;
    width: 72px;
}
.pskill-r,
.cskill-r {
    vertical-align: top;
}
.pskill-name,
.cskill-name {
    font-size: 22px;
}
.pskill-description,
.cskill-description {
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 0px;
}





.cc-table {
    font-size: 19px;
    letter-spacing: 0;
    margin: 15px 0 5px 0;
}
.cc-type {
    position: relative;
    padding: 0 5px;
}
.pf-cc-bot {
    position: relative;
    z-index: 1;

    width: 92%;
    object-fit: contain;
}
.pf-cc-servant {
    position: absolute;
    z-index: 5;
    left: -6px;
    top: -17px;

    width: 97%;
    object-fit: contain;
}
.pf-cc-mid {
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 37px;

    width: 103%;
    object-fit: contain;
}
.pf-cc-top {
    position: absolute;
    left: 3px;
    bottom: 10px;
    z-index: 20;

    width: 85%;
    object-fit: contain;
}


.panel-text.profile-panel {
    white-space: pre-wrap;
}
.panel-text.profile-panel.locked {
    color: gold;
}
#pf-parameter,
#pf-fc-sheet {
    white-space: normal;
}
#param-table {
    width: 100%;
    font-size: 20px;
    margin-top: -5px;
}
#param-table td:nth-child(1),
#param-table td:nth-child(4) {
  width: 10%;
  }

/* the second */
#param-table td:nth-child(2),
#param-table td:nth-child(5) {
  width: 30%;
}

/* the third */
#param-table td:nth-child(3),
#param-table td:nth-child(6) {
  width: 10%;
  padding-left: 10px;
 }

.pf-param-img {
    margin-top: 5px;
    width: 100%;
}



.pf-profile-fc,
.pf-profile-sheet {
    font-size: 30px;
    padding-left: 15px !important;
    overflow-wrap: anywhere;
}
.pf-profile-sheet {
    margin-top: 0px !important;
}
#pf-profile-fc {
    padding-left: 70px;
}
#pf-profile-sheet {
}
#pf-profile-sheet a {
    padding-left: 30px;
    color: white;
}




.voice-img {
    cursor: pointer;
}
.panel-text.voice-panel {
    padding: 7px 2px 12px 77px;
    font-size: 23px;
}
.panel-img,
.panel-img-locked {
    max-width: 510px;
}
.panel-img-voice-bot {
    position: absolute;
}
.voice-text {
    z-index: 39999;
    padding: 25px 75px;
    font-size: 25px;
    line-height: 36px;
    color: #f3f3f3;
    white-space: pre-wrap;
}
.voice-icon {
    position: absolute;
    left: 22px;
    top: 28px;
    width: 38px;

}



#profile-content-gallery {
    position: relative;
}
#pf-gallery-img-wrapper {
    position: absolute;
    width: 500px;
    text-align: center;
    left: 307px;
    top: 20px;
    transform: translate(-60%, 0%);
}
#pf-gallery-img {
    max-width: 100%;
    max-height: 370px;
    object-fit: contain;
}
#pf-gallery-nav {
    position: absolute;
    width: 140px;
    margin-top: 20px;
    right: -5px;
    bottom: -300px;
}
#pf-gallery-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#pf-gallery-nav ul li {
    height: 50px;
    background-image: url("../assets/button-gallery.png");
    background-repeat: no-repeat;
    backgroun-size: cover;
}
#pf-gallery-nav ul li a {
    display: block;
    padding-top: 13px;

    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
